@{
    ViewData["Title"] = "Dear Marcy";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tell us how you feel about <a href="https://www.youtube.com/channel/UCnj1nn8e_vcR3TiuQKqTGvg">Dear Marcy</a>.</p>
</div>
